<section class="section_dates container">
    <div class="row">

        <div class="daysOfWeek">
            <div class="dayHead" *ngFor="let day of month.daysOfWeek">
                {{ day }}
            </div>
        </div>

        <div class="nonthCellDateContainer monthCell">
            <app-note *ngFor="let day of prevMonthDateArray"
                  [day]="day" class="dayCell grey">
            </app-note>
            <app-note *ngFor="let day of currMonthDateArray"
                  [day]="day" class="dayCell">
            </app-note>
            <app-note *ngFor="let day of nextMonthDateArray"
                  [day]="day" class="dayCell grey">
            </app-note>
        </div>

    </div>

</section>
<br><br><br>
