<section class="section_dates container">
    <div class="row">

        <div class="daysOfWeek">
            <div class="dayHead" *ngFor="let day of month.daysOfWeek">
                {{ day }}
            </div>
        </div>

        <div class="cellDateContainer">
            <app-note *ngFor="let day of prevMonthDateArray"
                      [cD]="cD"
                      [day]="day" class="dayCell grey"
                      [notes]="getNotesForDate(day)"
                      (currentDateChanged)="onCurrentDateChange($event)">
            </app-note>
            <app-note *ngFor="let day of currMonthDateArray"
                      [cD]="cD"
                      [day]="day" class="dayCell"
                      [notes]="getNotesForDate(day)"
                      (currentDateChanged)="onCurrentDateChange($event)">
            </app-note>
            <app-note *ngFor="let day of nextMonthDateArray"
                      [cD]="cD"
                      [day]="day" class="dayCell grey"
                      [notes]="getNotesForDate(day)"
                      (currentDateChanged)="onCurrentDateChange($event)">
            </app-note>
        </div>

    </div>

</section>
