<div class="day"
     [class.active]="day.toLocaleDateString() === cD.toLocaleDateString()"
     (click)="changeCurrentDate(day)">
    <div class="overlay"></div>
    <span class="dayNumber"
          [class.weekend]="day.getDay() === 6 || day.getDay() === 0">
    {{ day.getDate() }}
  </span>

    <div class="notes">
        <div class="note"
             *ngIf="firstNote"
             [ngStyle]="{ 'background-color': firstNote.color }"
             (click)="editNote(firstNote, $event)">
            <div class="note_info">
                {{ firstNote.noteTitle }}
            </div>
        </div>
        <div class="more" *ngIf="countNotes > 1">+ {{ countNotes - 1 }}</div>
    </div>

</div>