<div class="day"
     [class.active]="day.toLocaleDateString() === today.toLocaleDateString()"
     (click)="createNote()">
    <div class="overlay"></div>
    <span class="dayNumber"
          [class.weekend]="day.getDay() === 6 || day.getDay() === 0">
    {{ day.getDate() }}
  </span>

    <div class="notes">
        <div *ngFor="let note of notes">
            <div class="note"
                 *ngIf="note.date.toLocaleDateString() === day.toLocaleDateString()"
                 [ngStyle]="{ 'background-color': note.color }"
                 (click)="editNote(note, $event)">
                <div class="note_info">
                    {{ note.noteTitle }}
                </div>
            </div>
        </div>
    </div>

</div>