<header class="calendar_header">
  <div class="container">
    <div class="row">
      <nav class="calendar_header__nav">

        <div class="calendar_header__nav_btns">
          <button class="my_btn--header" (click)="previousMonthButton()">Prev</button>
          <button class="my_btn--header" (click)="todayButton()">Today</button>
          <button class="my_btn--header" (click)="nextMonthButton()">Next</button>
        </div>

        <div class="calendar_header__nav_date">
          {{ currentDate.toLocaleString(locale, { month: "long", year: "numeric" }) }}
        </div>

        <div class="calendar_header__nav_btns">
          <button class="my_btn--header">Month</button>
          <button class="my_btn--header">Week</button>
          <button class="my_btn--header">Day</button>
        </div>

      </nav>
    </div>
  </div>
</header>

<month-view
        [cD]="currentDate"
        [notes]="notes">
</month-view>

