.calendar_header {
  text-align: center;
  width: 100%;
}

.calendar_header__nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0;
}

.calendar_header__nav_btns {
  font-size: 0;
}

.calendar_header__nav_date {
  font-family: "Kaushan", sans-serif;
  font-size: 30px;
  line-height: 1;
}