@import "../../assets/reset"
@import "../../assets/vars"

.dayCell
  width: 100%
  height: 100%
  margin: 0
  position: relative
  overflow: hidden
  &:hover .overlay
    display: block

.overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $lightAccent
  //transform: translateY(-100%)
  display: none
  transition: all 0.3s

.dayNumber
  position: absolute
  top: 10px
  left: 10px
  color: $mainBlue

.active
  background-color: $accent

.weekend
  color: red

.my_popup
  display: none
  position: fixed
  width: 60vw
  top: 20vh
  left: 20vw
  z-index: 2

.visible
  display: block
