<!--<div class="container">-->
<!--<div class="row">-->
<div class="dayCell"
     [class.active]="day.toLocaleDateString() === today.toLocaleDateString()"
     (click)="showPopup()">
    <div class="overlay"></div>
    <span class="dayNumber"
          [class.weekend]="day.getDay() === 6 || day.getDay() === 0">
    {{ day.getDate() }}
  </span>
    <div class="notes" *ngFor="let n of note">
        <span>
            {{ n.title }}
        </span>
    </div>
</div>

<!--<div class="my_popup">-->
<!--<note-editor-->
<!--(noteCreated)="onNoteCreated($event)">-->
<!--</note-editor>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->