@import "../../assets/reset"
@import "../../assets/vars"
@import "../../assets/mixins"

input
  padding-left: 10px

.my_btn--popup
  @extend .my_btn
  width: 100%
  border-radius: 4px

.my_btn--delete
  @extend .my_btn--popup
  background-color: $redText
  border: 1px solid $redText

