<section class="note_editor_s container">
    <form #form="ngForm" *ngIf="active">

        {{ form.valid }}

        <div class="form-group" [ngClass]="{'has-error': title.invalid && title.touched}">
            <input type="text" class="form-control"
                   [(ngModel)]="newNote.title"
                   name="title" placeholder="Title" required
                   #title>

            <span class="help-block" *ngIf="title.invalid && title.touched">Title is required</span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': type.invalid && type.touched}">
            <select type="text" class="form-control" [(ngModel)]="newNote.type"
                    name="type" #type="ngModel" required>
                <option *ngFor="let nt of noteTypes" value="{{ nt.name }}">
                    {{ nt.name }}
                </option>
            </select>

            <span class="help-block" *ngIf="type.invalid && type.touched">Type is required</span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': color.invalid && color.touched}">
            <input [(colorPicker)]="newNote.color" [style.background]="newNote.color" [ngModel]="newNote.color"
                   [value]="newNote.color"
                   name="color" #color="ngModel" required/>

            <span class="help-block" *ngIf="color.invalid && color.touched">Color is required</span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': date.invalid && date.touched}">
            <input [ngModel]="newNote.date" [(dateTimePicker)]="newNote.date" readonly name="date"
                   #date="ngModel" required placeholder="Date"/>

            <span class="help-block" *ngIf="date.invalid && date.touched">Date is required</span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': text.invalid && text.touched}">
            <input type="text" class="form-control"
                   [(ngModel)]="newNote.text"
                   name="text" placeholder="ToDo..." #text required>

            <span class="help-block" *ngIf="text.invalid && text.touched">Type is required</span>
        </div>

        <button type="button" class="btn btn-lg btn-block btn-primary"
                [disabled]="form.invalid" (click)="onSubmit()">
            Create User
        </button>

    </form>
</section>
