<header class="calendar_header">
    <div class="container">
        <div class="row">
            <nav class="calendar_header__nav">

                <div class="calendar_header__nav_btns">
                    <button class="my_btn--header" (click)="previousMonthButton()">Prev</button>
                    <button class="my_btn--header" (click)="todayButton()">Today</button>
                    <button class="my_btn--header" (click)="nextMonthButton()">Next</button>
                </div>

                <div class="calendar_header__nav_date">
                    {{ currentDate.toLocaleString(locale, { month: "long", year: "numeric" }) }}
                </div>

                <div class="calendar_header__nav_btns">
                    <input type='button'
                           class="my_btn--header"
                           value="Month"
                           (click)="changeView($event)">
                    <input type='button'
                           class="my_btn--header"
                           value="Week"
                           (click)="changeView($event)">
                    <input type='button'
                           class="my_btn--header"
                           value="Day"
                           (click)="changeView($event)">
                </div>

            </nav>
        </div>
    </div>
</header>

<app-month-view *ngIf="currentView === 'month'"
        [cD]="currentDate">
</app-month-view>

<app-week-view *ngIf="currentView === 'week'"
                [cD]="currentDate">
</app-week-view>

