@import "../../assets/reset"
@import "../../assets/vars"

.daysOfWeek
  height: 5vh

.dates_block
  //height: 80vh

.monthCell
  display: flex
  flex-wrap: wrap
  height: 100%

.dayCell
  width: 14.285%
  height: 13.3vh
  border: 1px solid $textDark
  position: relative
  overflow: hidden
  &:hover .overlay
    display: block

.overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $lightAccent
  //transform: translateY(-100%)
  display: none
  transition: all

.dayNumber
  position: absolute
  top: 10px
  left: 10px
  color: $mainBlue

.dayHead
  float: left
  width: 14.285%
  color: #000
  font-family: $mainFont
  font-weight: bold
  text-align: center

.grey
  background-color: $lightGray

.nonthCellDateContainer
  border: 1px solid grey

.active
  background-color: $accent

.weekend
  color: red
