.monthCell {
    display: flex;
    flex-wrap: wrap;
}

.dayCell {
    width: 166.85px;
    height: 167px;
    border: 1px solid grey;
    position: relative;
}

.dayNumber {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
}

.dayHead {
    width: 167px;
    height: 30px;
    font-weight: bold;
    text-align: center;
}

.grey {
    background-color: #e6e6e6;
}

.nonthCellDateContainer {
    border: 1px solid grey;
}

/*////////////////////*/
.calendar_header {
    text-align: center;
}

.calendar_header__nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.calendar_header__nav_date {
    font-family: "Kaushan", sans-serif;
    font-size: 30px;
}