/*.box{
	width: 400px;
	height: 400px;
}
.box_red{
	background-color: red;
}
.box_gold{
	width: 100px;
	height: 100px;
	background-color: gold;
}*/



/*div.box{
	width: 300px;
	height: 300px;
	background-color: aqua;
}

.box{
	background-color: gold;
}


p.box{
	width: 300px;
	height: 300px;
	background-color: red;
}*/


/**{
	color: gold
}
body{
	color: gold;
}

.example{
	color: red;
}*/




/*.box1{
	margin: 20px;
	width: 300px;
	height: 300px;
	background-color: gold;
}


.container>.box1{
	background-color: red;
}*/





/*a[href="http://google.com"]{
	color: green;
}

a[href="http://facebook.com"]{
	color: aqua;
}*/




/*.main_form input[type="text"]{
	width: 400px;
	border: 2px solid #ff0000;
}*/


