@import "vars"

body
	font-family: "Roboto", sans-serif
	font-weight: normal
	overflow-x: hidden
	line-height: 1

body,h1,h2,h3,h4,h5,h6,ul,p
	margin: 0

a
	text-decoration: none

ul
	padding: 0
	list-style-type: none

.container,
.flex_container
	width: 1200px
	margin: 0 auto
.flex_container
	display: flex
.space_between
	justify-content: space-between

//header

header
	height: 75px
	line-height: 75px
	position: fixed
	top: 0
	left: 0
	width: 100%

.header_nav
	float: right

.header_nav_element
	display: inline-block
	margin-left: 40px

.header_nav__link
	text-transform: uppercase
	font-size: 14px
	color: #fff
	position: relative
	transition: all .3s
	&:after
		content: ''
		position: absolute
		bottom: -7px
		left: 0
		width: 0
		height: 2px
		background-color: $activeLink
		transition: all .3s
	&:hover
		color: $activeLink
	&:hover
		&:after
			width: 100%

//!!!!!!!


//start_s

.start_s
	height: 100vh
	background-image: url('../img/start_bg.jpg')
	background-size: cover
	display: flex
	align-items: center
	justify-content: center
	color: #fff

.s_title_block
	width: 800px
	text-align: center

.s_title_block__descr
	font-family: $handWritenFont
	font-size: 60px
	margin-bottom: 30px

.s_title_block__title
	font-family: $titleFont
	font-weight: 700
	font-size: 100px
	text-transform: uppercase

.s_title_block__line
	height: 3px
	width: 70px
	background-color: #fff
	border: none
	margin: 35px auto

//!!!!!!


//about section

.section_header
	width: 960px
	text-align: center
	margin: 90px auto

.section_header__title
	font-family: $handWritenFont
	font-weight: normal
	font-size: 24px
	margin-bottom: 25px

.section_header__about
	text-transform: uppercase
	font-family: $titleFont
	font-weight: 700
	font-size: 32px

.section_header__line
	margin: 48px auto
	width: 60px
	height: 2px
	background-color: $mainColor2
	
.section_header__desc
	color: #a0a0a0
	line-height: 1.5

.about_item
	width: 31%
	position: relative
	transition: all .4s
	line-height: 0
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $mainColor
		z-index: -1
		transition: all .4s
	&:hover
		transform: translate(-10px, -10px)
		&:after
			transform: translate(10px, 10px)
		.about_item_overlay
			opacity: 1

.about_item__img
	width: 100%

.about_item_overlay
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	opacity: 0
	display: flex
	align-items: center
	justify-content: center
	transition: all .4s
	background-color: transparentize($mainColor2, .3)

.about_item_overlay__content
	text-transform: uppercase
	font-size: 24px
	color: #fff
	font-family: $titleFont
	font-weight: 700

//!!1!!!!!!!!!!!

.facts
	background-color: $mainColor
	height: 270px
	margin: 110px 0
	>.flex_container:first-of-type
		border-left: 1px solid #fff

.facts_item
	width: 20%
	height: 270px
	text-align: center
	color: #fff
	border-right: 1px solid #fff

.facts_item__number
	font-family: $titleFont
	font-size: 70px
	font-weight: 700
	margin-top: 90px
	margin-bottom: 26px
	line-height: 56px

.facts_item_text
	text-transform: uppercase
	font-family: $titleFont
	font-size: 12px
	font-weight: normal

.service_block
	display: flex

.service_block_content
	background-image: url(../img/clock.jpg)
	background-repeat: no-repeat
	margin-left: 30px
	width: 33%

.service_top_content__header, .service_top_content__desc
	margin-left: 58px

.service_block_line
	width: 100%
	margin: 20px 0


