body {
	margin: 0;
}

.box {
	position: relative;
	font-family: sans-serif;
	margin: 10px;
	width: 100px;
	height: 40px;
	background-color: #000;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 2px;
	color: #fff;
	z-index: 1;
	overflow: hidden;
}

.box::before {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	height: 100%;
	width: 0;
	background-color: red;
	z-index: -1;
}

.box:hover:before {
	transition: all .3s linear;
	right: 0;
	width: 100%;
}